<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Selection genre</title>
</head>
<body>
<table border="1">
                <tr>
                   <th>client</th>
                   <th>film</th>
                    <th>retour</th>
                    <th>date d'emprunt</th>
                </tr>
                <tr th:each ="emprunt : ${ensemprunt}">
                   <td th:utext="${emprunt.client.nom}">...</td>
                   <td th:utext="${emprunt.film.titre}">...</td>
                   <td th:utext="${emprunt.retour}">...</td>
                   <td th:utext="${emprunt.dateemprunt}">...</td>
                </tr>
             </table>

</body>
</html>